<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

   <h1>Create a basketball team</h1>

   <form method="POST" action="/team">
      <label for="1">Team name: </label>
      <input type="text" name="name" id="1"> <br>
      <label for="2">Coach: </label>
      <input type="text" name="coach" id="2"><br>
      <label for="2">Point guard: </label>
      <input type="text" name="pg" id="3"><br>
      <label for="2">Shooting guard: </label>
      <input type="text" name="sg" id="4"><br>
      <label for="2">Power forward: </label>
      <input type="text" name="pf" id="5"><br>
      <label for="2">Small forward: </label>
      <input type="text" name="sf" id="6"><br>
      <label for="2">Center: </label>
      <input type="text" name="c" id="7"><br>
      <input type="submit" id="Submit" id="8">
    </form>

 </body>
</html>
